<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW USER</title>
</head>
<body>
    <form method="POST" action="/user/add">
        <input placeholder="Add Username" name="username" >
        <br>
        <input type="email" name="email" placeholder="Add Email">
        <br>
        <input type="password" placeholder="Add Password" name="password">
        <br>
        <button>SUBMIT</button>
    </form>
</body>
</html>